In [ ]:
%matplotlib inline

In [36]:
import pandas as pd
from fbprophet import Prophet
from bayes_opt import BayesianOptimization

Importing plotly failed. Interactive plots will not work.

Data has been cleaned but may still have issues.

In [37]:
cam = pd.read_csv("../data/CamUKWeather.csv", parse_dates=True)
#pd.to_datetime(cam.ds)

In [38]:
cam.shape

(192885, 11)

In [39]:
cam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192885 entries, 0 to 192884
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ds                 192885 non-null  object
 1   year               192885 non-null  int64
 2   doy                192885 non-null  int64
 3   time               192885 non-null  object
 4   temperature        192885 non-null  int64
 5   humidity           192885 non-null  int64
 6   dew.point          192885 non-null  int64
 7   pressure           192885 non-null  int64
 8   wind.speed.mean    192885 non-null  int64
 9   wind.bearing.mean  192885 non-null  int64
 10  wind.speed.max     192885 non-null  int64
dtypes: int64(9), object(2)
memory usage: 16.2+ MB

In [40]:
cam.describe()

,year,doy,temperature,humidity,dew.point,pressure,wind.speed.mean,wind.bearing.mean,wind.speed.max
count,192885.000000,192885.000000,192885.000000,192885.000000,192885.000000,192885.000000,192885.000000,192885.000000,192885.000000
mean,2013.895803,186.882298,101.096819,79.239951,62.135174,1014.404153,44.588148,196.223423,117.140369
std,3.283992,106.486420,64.465602,16.908724,51.016879,11.823922,40.025546,82.458390,80.116199
min,2008.000000,1.000000,-138.000000,25.000000,-143.000000,963.000000,0.000000,0.000000,0.000000
25%,2011.000000,94.000000,52.000000,69.000000,25.000000,1008.000000,12.000000,135.000000,60.000000
50%,2014.000000,191.000000,100.000000,83.000000,64.000000,1016.000000,35.000000,225.000000,100.000000
75%,2017.000000,280.000000,145.000000,92.000000,100.000000,1023.000000,67.000000,270.000000,160.000000
max,2020.000000,366.000000,361.000000,100.000000,216.000000,1048.000000,291.000000,315.000000,580.000000

In [41]:
cam

,ds,year,doy,time,temperature,humidity,dew.point,pressure,wind.speed.mean,wind.bearing.mean,wind.speed.max
0,2008-08-01 08:30:00,2008,214,09:30:00,186,69,128,1010,123,180,280
1,2008-08-01 09:00:00,2008,214,10:00:00,191,70,135,1010,137,180,260
2,2008-08-01 09:30:00,2008,214,10:30:00,195,68,134,1010,133,180,260
3,2008-08-01 10:00:00,2008,214,11:00:00,200,68,139,1010,129,180,240
4,2008-08-01 10:30:00,2008,214,11:30:00,213,61,135,1010,145,180,260
...,...,...,...,...,...,...,...,...,...,...,...
192880,2020-01-16 00:00:00,2020,16,00:00:00,40,78,5,1017,45,180,100
192881,2020-01-16 00:30:00,2020,16,00:30:00,36,86,15,1018,25,180,120
192882,2020-01-16 01:00:00,2020,16,01:00:00,36,85,13,1018,28,180,80
192883,2020-01-16 01:30:00,2020,16,01:30:00,36,82,8,1018,17,180,80
192884,2020-01-16 02:00:00,2020,16,02:00:00,36,89,20,1018,22,180,100